n8n/nko-support-webhook.json
{
  "name": "NKO_Support_Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nko-support",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-1111-1111-aabbccddeeff",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1IEZs8a2QiZCHbiONdlWrqjqGTWJUhB-Qm2LzcDaQAuU"
        },
        "sheetName": {
          "mode": "byName",
          "value": "NKO_Support"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "problem": "={{ $json.problem }}",
            "type": "={{ $json.type }}"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-2222-2222-bbccddeeffffg",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UXGzt0jGfgbDijpC",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true}"
      },
      "id": "c3d4e5f6-3333-3333-3333-ccddeeffgghhii",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Google Sheets", "type": "main", "index": 0 }]]
    },
    "Google Sheets": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
